Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple

In [2]:
name='priya'
type(name)

str

In [29]:
plist=['mango','apple','orange']
type(plist)

list

In [3]:
num=1.06
type(num)

float

In [1]:
names=('priya','neha')
type(names)

tuple

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1. 
What will be the data type of the above given variable.

In [30]:
var1=''
type(var1)

str

In [31]:
var2='[DS,ML,Python]'
type(var2)

str

In [32]:
var3=['DS','ML','Python']
type(var3)

list

In [33]:
var4=1
type(var4)

int

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

In [ ]:
/ : It’s a Division operator which gives the quotient

In [34]:
4/2

2.0

(ii) % : It’s a modulus operator which gives the remainder

In [35]:
4%2

0

         (iii)// : It’s a floor division operator which is used to find the floor of the quotient

In [37]:
4//3

1

(iv) ** : It’s a exponentiation operator. It is used to raise the first operand to the power of the second.

In [38]:
2**4

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [13]:
mixed_list=['orange',1,1.036,True,['a','b'],{'name':'priya','gender': 'Female'},('hotel','school','park'),'Neha',0,2+6j]
for i in mixed_list:
  print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [20]:
A=6
B=2
while A%B==0:
  print('A is completely divisible by B')
  print(f'A is divisble by B by {A/B} no of times')
  break
else:
  print('A is not completely divisible by B')

A is completely divisible by B
A is divisble by B by 3.0 no of times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [22]:
plist=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in plist:
  if i%3==0:
   print(f'{i} is divisible by 3')
  else:
     print(f'{i} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.
Ans: Mutable means which can be changed like list where we can update values at any given index.
Immutable means which cannot be changed like String. In string we cannot update/replace the values at any given index.

In [23]:
plist=['MI','CSK','LSG','GT']
plist[2]='RCB'
plist

['MI', 'CSK', 'RCB', 'GT']

In [28]:
name='Mumbai_Indians'
name[0]='K'
name

TypeError: ignored