Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans: A database is a collection of organized data that is structured or unstructured.The primary purpose of database is to store huge amount of data.

Difference
1. SQL Databases are categorized as RDBMS. NoSQL Databases are categorized as non-relational or distributed management system.
2. SQL databases have fixed or predefined schema. NOSQL Databases have dynamic schema
3. SQL Databases are vertically scalable. NOSQL Databases are horizontally scalable
4. SQL Databases are best suited for complex queries. NoSQL Databases are not so good for complex queries
5. SQL Databases  display data in form of tables. NOSQL Databses display data as collection of  key value pair,graph databases or wide column store

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans: A Data definition language is a computer language used to create and modify the structure of database objects in a database.
1. CREATE: This command is used to build table.
CREATE TABLE Employee(EmployeeId INTEGER PRIMARY KEY, First Name CHAR(40) NULL)
2. DROP: A Drop command is used to delete the objects like table,view or index
DROP TABLE Employee
3. ALTER: An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table
ALTER TABLE Employee ADD PRIMARY KEY(employee_pk);
4. TRUNCATE: TRUNCATE command is used to remove all records from the table.
TRUNCATE TABLE Employee

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans: Data Manipulation Language is used to make changes to the databases such as CRUD operations like create,read, update and delete data.
1. INSERT: Insert command is used to insert data in database tables.
Insert into Student(stu_id, stu_name, stu_marks) values(102,Priya,56)
2. UPDATE: Update command is used to modify or update the existing data in database tables.
Update Student set stu_marks=78 where stu_id=102
3. DELETE: DELETE Command is used to remove single or multiple records from the database tables.
DELETE from Student where stu_id=102

Q4. What is DQL? Explain SELECT with an example.
Ans: Data Query Language statements are used to query the data contained in schema objects.
SELECT: SELECT Command shows the records of specified table.
SELECT * from Student;

Q5. Explain Primary Key and Foreign Key.
Ans The Primary key constraint uniquely identifies each record in a table.Primary keys must contain UNIQUE values and cannot contain NULL Values.
A Foreign key is a field in one table, that refers to the PRIMARY KEY in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans: cursor() is a data access object that can be used to either iterate over the set of rows in a table or insert new rows into a table .The execute() is used to execute the query and fetch the records from the database.

In [ ]:
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="priya",
    password="Temp123")

print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Employee")

Q7. Give the order of execution of SQL clauses in an SQL query.
Ans: Order of execution of SQL query is given below
1.FROM
2.where
3.group by
4.having
5.select
6.order by
7.limit

SELECT Customers.customer_id, Customers.first_name,Orders.amt,Orders.order_id
FROM Customers
JOIN Orders
ON Customers.customer_id=Orders.customer_id
WHERE Orders.order_id <= 4
ORDER BY Orders.order_id ASC
LIMIT 2