Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [10]:
import pandas as pd
ser=pd.Series([4,8,15,16,23,42])
ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
type(ser)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [12]:
l1=[1,2,3,4,5,6,7,8,9,10]
ser=pd.Series(l1)
ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3.Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [21]:
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
df=pd.DataFrame(data,columns=['Name','Age','Gender'])
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans: A DataFrame is a two dimensional data structure like a 2 dimensional array or a table with rows and columns whereas
Series in Pandas contains a single list which stores heterogenous types of data because of this series is considered as 1 dimensional structure.
Dataframe contains multiple series or its considered as a collection of series.

In [26]:
s={'a':[1,2,'c','d']}
ser=pd.Series(s)
ser

a    [1, 2, c, d]
dtype: object

In [27]:
d={'a':[1,2,4,'f'],
   'b':[2,3,4,5],
   'c':[3,5,7,9]}
df=pd.DataFrame(d)
df

   a  b  c
0  1  2  3
1  2  3  5
2  4  4  7
3  f  5  9

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans: Common Functions in Pandas Dataframes are head,tail,Dtypes,info,describe,sample,isnull,isna,index,columns,loc,iloc,groupby,sort_index,sort_values,dropna.
We are using tail function to get last 5 values from a dataframe

In [32]:
l=[1,2,3,4,5,6,7,'d',10.5]
df=pd.DataFrame(l)
df.tail()

      0
4     5
5     6
6     7
7     d
8  10.5

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans: DataFrame and Panel is mutable in nature as there size and data can be changed. Series is immutable as its size cannot be changed.

Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans: Here we are creating multiple series with smae indices and then we are using a DataFrame method to convert the series into Dataframe

In [34]:
cols=['a','b','c']
series=[pd.Series([1,2,3],index=cols),pd.Series([4,5,6],index=cols),pd.Series([7,8,9],index=cols)]
df=pd.DataFrame(series)
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9